<!DOCTYPE html>
<html>
<head>
       
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include nav-notlogin %>

    <%- include header %>
</head>
<body>
    	<div class="container">

                <form action="/login" method="post">
                        <div class='row'>
                          <div class='col s12'>
                          </div>
                        </div>
            
                        <div class='row'>
                          <div class='input-field col s12'>
                                <i class="material-icons prefix">email</i> 
                            <input class='validate' type='email' name='email' id='email' />
                            <label for='email'>輸入登入信箱</label>
                          </div>
                        </div>
            
                        <div class='row'>
                          <div class='input-field col s12'>
                              <i class="material-icons prefix">mode_edit</i>
                            <input class='validate' type='password' name='passwd' id='password' />
                            <label for='password'>輸入登入密碼</label>
                          </div>
                       
                        </div>
            
                        <br />
                        <center>
                          <div class='row'>
        
                                <div>
                                       </div>      
                                  
                                       <button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect cyan lighten-2" style="font-size: 25px;font-weight:  600; ">       
                                            登入<i class="material-icons right">send</i>                                  
                                        </button>  
                            </button>
                          </div>
                        </center>
                      </form>
 
</div>
</body>

</html>

