
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Analypix</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

            <a href="/out">登出</a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="/upload" class="btn-large">+</a>
        </li>
        <li>
          <a href="">  <%= name %> </a> 
        </li>
      </ul>
    </div>
  </nav>